.features-section-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1110px;
    margin: auto;
    text-align: left;
    font-size: 30px;
}

@media screen and (max-width:767px){
    .features-section-container{
        flex-direction: column;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}