.bg-container{
    display: flex;
    justify-content: center;
    background-color: #0078fc;
}

.responsive-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1110px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #0078fc;
}

@media screen and (max-width:767px){
    .responsive-container{
        flex-direction: column;
    }
}

.description-container{
    width: 60%;
    max-width: 500px;
    text-align: left;
}

@media screen and (max-width:767px){
    .description-container{
        width: 95%;
        max-width: 400px;
        text-align: center;
    }
}

.heading{
    font-family: "Roboto";
    font-weight: 700;
    font-size: 42px;
    color: #ffffff;
    text-align: left;
    margin: 0px;
}

@media screen and (max-width:767px){
    .heading{
        font-size: 36px;
        text-align: center;
    }
}

.description{
    font-family: "Roboto";
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
}

@media screen and (max-width:767px){
    .description{
        font-size: 16px;
    }
}

.logo-white{
    width: 260px;
    height: 260px;
    order:1;
}

@media screen and (max-width:767px){
    .logo-white{
        width: 150px;
        height: 150px;
        order: -1;
        margin-bottom: 15px;
    }
}